@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200;500&family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Ubuntu:wght@400;700&display=swap');

@font-face {
	font-family: 'IBM Plex Mono Medium';
	src: URL('./IBMPlexMono-Medium.ttf') format('truetype');
}

select {
	font-size: 2vw !important;
	border-style: solid;
	background-color: #000000;
	color: #00FFFF !important;
	border-width: .5vw;
	border-radius: 5px;
	border: none;
	min-width: 35%;
}

#clear-cache {
	margin-left: 10px;
	width: 1.8vw;
}

#clear-cache:hover {
	cursor: pointer;
	opacity: .6;
}

html, body {
	overscroll-behavior: none;
	font-family: 'IBM Plex Mono Medium', monospace;
	margin: 0;
	width: 100%;
	height: 100%;
}

.token-icon {
	display: inline;
	height: 30px;
	margin-left: 8px;
}

.hidden {
	display: none !important;
}

.banner-img {
	width: 100%;
	height: 100%;
}

.fixed-banner{
	position:fixed;
    bottom:0px;
    z-index: -1;
}

h1 {
	font-family: "Ubuntu", sans-serif;
	color: black;
	font-weight: 600;
	font-size: 3vw !important;
	line-height: 3vw !important;
}

p {
	text-align: justify;
	font-weight: bold;
	font-size: 1.4vw !important;
	line-height: 1.7vw !important;
}

#discord-img {
	height: 1.8vw;
}

#edit-img {
	height: 1.4vw;
}

#discord.success, #discord-mobile.success {
    background-color: rgb(49, 219, 49) !important;
}

#discord.success:hover, #discord-mobile.success:hover {
    background-color: rgb(49, 219, 49) !important;
	color: black !important;
}

#discord.failure, #discord-mobile.failure {
    background-color: #FF0000 !important;
}

#discord.failure:hover, #discord-mobile.failure:hover {
    background-color: #FF0000 !important;
}

  .button.connect {
	background-color: #00FFFF !important;
	color:#000000 !important;
  }

  #account.connected:hover {
	  background-color: #00FFFF !important;
	  cursor: default;
  }

  .button.connect:hover {
	background-color: #00FFFF !important;
	color:#000000 !important;
	cursor: pointer;
  }

.body {
	background-image: url("https://github.com/pamungkaski/jira-market/blob/main/images/jira_background.jpeg?raw=true");
	background-color: white;
	font-family: "Roboto", sans-serif;
	background-size: cover;
	background-attachment: fixed;
	color: black;
	cursor: default !important;
}

.hide-on-desktop {
	display: none !important;
}

.section {
	padding-top: 50px;
	padding-bottom: 50px !important;
	background-position: 0 0;
	background-size: 500px

}

.section.footer {
	padding-top: 10px;
	padding-bottom: 10px;
	background-position: 100% 50%;
	background-size: cover;
	background-repeat: no-repeat;
}

.footer-section {
	margin: auto;
	padding: 5px;
	width: 100%;
	text-align: center;
}

.center-div {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 50px;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center
}

.button {
	font-family: 'Roboto', sans-serif;
	touch-action: manipulation;
	transition: all 0.3s;
	background: none;
	border-radius: 5px;
	cursor: pointer;
	padding: 15px 20px;
	background-color: #00FFFF;
	color: black;
	font-weight: 700;
}

.button:hover {
	background-color: white;
}

.link {
	color: #000000;
	text-decoration: none
}

.link:hover {
	color: #00FFFF;
}

.section-title{
	font-size:  2.3vw;
	text-align: center;
}

h2 {
	font-size:  1.9vw;
	line-height:  1.9vw;
}

h4 {
	font-size:  1.4vw;
	line-height:  1.8vw;
}

h5 {
	font-size:  1vw !important;
	line-height:  1.3vw !important;
}

.banner-img {
	width: 100%;
}

#pending-transactions {
    text-align: center;
    min-width: 20%;
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 99999999;
  }

.loading-div {
    cursor: pointer;
    width: 100%;
    text-decoration: none;
    height: 5%;
    background-color: #00FFFF;
    border: solid white .3em;
    color: black;
    font-size: 1.2vw;
    line-height: 1.5vw;
    padding: 20px;
    text-align: center;
		border-radius: 15px;
		border: 3px solid black;
		font-family: "Ubuntu";
		font-weight: 700;
}

.etherscan-link {
    text-decoration: none;
}


#loading-popup {
    border: solid .5vw white;
    background-color: white;
    padding:5vw;
    z-index: 99999;
    position:fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 33vw;
	border-radius: 15px;
    text-align: center;
    box-shadow: 0 0 5000px 5000px rgba(0,0,0,0.88);
}

#error-popup, #status-popup, #discord-popup {
	background-color: #000000;
    z-index: 99999;
    position:fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 53vw;
    height: 35vh;
    border: solid 3px #00FFFF;
	border-radius: 15px;
    text-align: center;
    box-shadow: 0 0 5000px 5000px rgba(0,0,0,0.88);
}

#discord-popup {
    height: 50vh;
}

#error-popup p, #status-popup p, #discord-popup p {
    width: 90%;
    font-size: 2.5vw !important;
    line-height: 2.7vw !important;
    position: absolute;
	color: white;
    top: 50%;
    left: 50%;
	padding: 1vw;
    transform: translate(-50%, -50%);
    text-align: center;
	font-family: "Ubuntu", monospace;
}


#discord-popup p {
	position: initial;
	top: initial;
	left: initial;
	transform: none;
	width: 95%;
	margin: auto;
	padding-bottom: 0;
}

  #discord-popup #content {
	width: 100%;
	font-size: 2vw;
	line-height: 2vw;
	position: absolute;
	color: black;
	top: 50%;
	left: 50%;
	width: 90%;
	transform: translate(-50%, -50%);
  }

  #discord-popup #content input {
	text-align: center;
	border: solid black .5vw;
	width: 80%;
  }

  #discord-popup #content button {
	margin: auto;
	margin-top: 3%;
	width: 75%;
  }


@keyframes blinker {
    50% {
      opacity: 0;
    }
}

.blinking {
    animation: blinker 1.6s linear infinite;
}

.success {
    background-color: rgb(49, 219, 49) !important;
	color: black !important;
}

.failure {
    background-color: #FF0000 !important;
}

#block-screen, #block-screen-error, #block-screen-status, #block-screen-approval, #block-screen-loading, #block-screen-discord {
    z-index: 9998;
    width: 100vw;
    opacity: 0;
    position: absolute;
    top: 0;
}

@media screen and (max-width: 1000px) {
	.footer-section {
		margin: auto;
		padding: 5px;
		width: 100%;
		text-align: center;
	}
}

.mint-container {
	text-align: center;
}

.box {
	border-style: solid;
	border-color: black;
	/* border-radius: 20px; */
	border-width: .5vw;
	padding: 20px;
	backdrop-filter: blur(25px);
    background-color: white;
}

.box2 {
	background-color: rgba(95, 92, 92, 0.336);
}

.box3 {
	background-color: rgba(95, 92, 92, 0.336);
	padding: 50px;
	border-style: solid;
	border-color: white;
	border-radius: 2px;
	min-height: 60vh;
}

@media screen and (max-width:991px) {
	.body {
		background-size: auto;
	}

	.token-icon {
		display: inline;
	}

	.box {
		border-width: 5px;
	}


    .section-title {
        font-size: 3vh;
        text-align: center;
    }

	h2 {
		font-size:  3.4vh;
		line-height: 3.4vh;
	}

	h3 {
		font-size:  2.4vh !important;
		line-height:  2.9vh !important;
	}

	h4 {
		font-size:  2vh;
		line-height:  2.4vh;
	}

	h5 {
		font-size:  1.8vh !important;
		line-height:  2vh !important;
	}

	.button {
		font-size: 20px;
		padding: 12px 18px;
	}

	p {
		font-size: 2.8vh !important;
		line-height: 3.1vh !important;
		margin: 0 !important;
		padding: 10px !important;
	}

	.hide-on-mobile {
        display: none !important;
    }

	.hide-on-desktop {
		display: block !important;
	}

	#about {
		padding: 0;
	}

	.header {
		padding-top: 10px;
		padding-right: 40px;
		padding-left: 40px
	}

	.box3 {
		margin-top: 15vh;
		width: 100%;
		position: relative;
		background-color: rgba(95, 92, 92, 0.336);
		padding: 50px;
		min-height: 40vh;
	}

	#pending-transactions {
        min-width: 85%;
        position: fixed;
        bottom: 20px;
        left: 50%;
        transform: translate(-50%, 0);
      }

      .loading-div {
        font-size: 4vw !important;
        line-height: 4.6vw !important;
		border-width: 5px;
      }

	  #loading-popup {
        width: 75vw;
		border-width: 5px;
		bottom: 3vh;
    }

	h1 {
		font-size: 5.4vh !important;
		line-height: 5.4vh !important;
	}

    #error-popup, #status-popup, #discord-popup {
        width: 75vw;
        height: 15vh;
		border-width: 5px;
    }

	#discord-popup {
		height: 45vh;
	  }

    #error-popup p, #status-popup p {
        font-size: 4vw !important;
		line-height: 4.2vw !important;
		width: 80%;
    }

	#discord-popup p {
		padding: 0;
		font-size: 3vh !important;
		line-height: 3vh !important;
		margin: auto !important;
		margin-bottom: 3%;
	  }

	  #discord-popup #content input {
		border-width: 2px;
		font-size: 4vw;
		line-height: 4vw;
		width: 90%;
	  }

	  #discord-popup #content button {
		margin-top: 7%;
		width: 90%;
  }

}

@media screen and (max-width:767px) {

	#clear-cache {
		width: 20px;
		margin-left: 10px;
	}

	.header {
		padding-right: 20px;
		padding-left: 20px
	}

	select {
		border-width: 3px;
		font-size: 3vh !important;
		width: 90%;
	}

	#discord-img {
		height: 3.3vh;
	}

	#edit-img {
		height: 2.3vh;
	}
}

@media screen and (max-width:479px) {
	.header {
		padding-bottom: 20px
	}
	.button.connect-button {
		margin-top: 0
	}
}

.mint-section {
	padding-top: 50px;
}

#top {
	padding-bottom: 0px;
	padding-top: 0px;
}

#about {
	z-index: 4;
}