#modify-input input, #modify-input textarea, #create-input input, #create-input textarea {
    width: 100%;
    font-size: 16px;
    padding: 10px;
    color: black;
}

#modify-input h3, #create-input h3 {
    color: white;
    text-align: left;
    height: auto;
    justify-content: flex-start;
    margin-top: 0;
    font-size: 24px;
}

#modify-input label, #create-input label {
    font-weight: 400;
    margin-top: 10px;
}

#modify-input a, #create-input a {
    font-size: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    line-height: 14px;
}

#modify-input button, #create-input button {
    width: 100%;
    margin-top: 15px;
}

#create-input, #modify-input {
    padding: 20px;
    width: 400px;
}

#create-button {
    margin-right: 20px;
}

textarea {
    resize: vertical;
}

.create-template-container {
    width: 350px;
    padding: 50px;
}

.preview-text {
    color: white;
    font-size: 24px;
}

.selector-separator {
    margin-right: 0px;
    padding-left: 45px;
}

#live-collections, #past-collections {
    display: flex;
    justify-content: center;
    border: none;
}

#listing-select-div {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}

.workshop-title {
    text-align: center;
    margin-bottom: 20px;
}

#selector-div {
    justify-content: center;
}

@media screen and (max-width: 767px) {
    #create-button {
        margin-right: 0;
        margin-bottom: 20px;
    }

    #live-collections, #past-collections {
        flex-direction: column;
        align-items: center;
    }

    .create-template-container {
        padding: 0;
        max-width: 250px;
    }
}