#modify-input input, #modify-input textarea, #create-input input, #create-input textarea {
    width: 85%;
    font-size: .9vw;
    line-height: 1.5vw;
    border: solid black .25vw;
}

textarea {
    resize: vertical;
}

#admin-dashboard {
    display: grid;
    grid-template-columns: 400px 400px;
}

#modify-input a, #create-input a {
    font-size: .9vw;
    line-height: 1.5vw;
}

#listing-select-div {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}

.workshop-title {
    text-align: center;
    margin-bottom: 20px;
}

#selector-div {
    justify-content: center;
}

@media screen and (max-width: 767px) {

    #modify-input input, #modify-input textarea, #create-input input, #create-input textarea {
        width: 85%;
        font-size: 2vh;
        line-height: 2vh;
        border: solid black 2px;
    }

    #modify-input a, #create-input a {
        font-size: 2vh;
        line-height: 2vh;
    }


}